* {
    box-sizing: border-box;

}

body {
    height: 100vh;
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    font-size: 40px;

}

#board {
    display: grid;
    height: 700px;
    width: 1400px;
    grid-template-columns: repeat(13,9.5vmin);
    grid-template-rows: repeat(4,16vmin);
    gap: 2vmin;
    
}

#board>div {
    background-color: black;

}
